.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cell {
  width:  10px;
  height: 10px;
  background: black;
  border: 1px solid gray;
}
.live {
	background: coral;
}
.button {
  display: inline-block;
  padding: 15px 30px;
  background: lightcoral;
  cursor: pointer;
}